<!-- Navigation -->
<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0" th:fragment="header">
    <div style="width:80%; height:50px; position:absolute;line-height:30px;line-height: 68px;
        font-size: 28px;margin-left: 142px;color: white;">
        <p id="caption">HOMEWORK SPRING</p>
        <i class="icon"><img src="../image/menu.png" alt="" style="width:30px; z-index:200"> </i>
    </div>
    <div class="languages" style="float:right; margin:20px;">
        <a th:href="@{?lang=kh}"><img src="../image/kh.png" alt="" style="width:30px;"></a>
        <a th:href="@{?lang=en}"><img src="../image/en.png" alt="" style="width:30px;"></a>
    </div>
    <div class="sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <form action="/tables" method="get">
                            <input type="text" class="form-control" th:field="${filter.title}" placeholder="Search..." style="width:84%;">
                            <button style="width: 35px; height: 34px;" type="submit" class="btn btn-success">
                                <i class="fa fa-search"></i>
                            </button>
                            <br><br>
                            <div class="form-group">
                                <!--<button type="button" class="btn btn-success" style="width: 180px;">Success</button>-->
                                <!--<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"style="height:33px; width:33px;">-->
                                </button>
                                <select style="text-align: center; min-width: 179px;" th:field="${filter.cate_id}" class="form-control">
                                    <option class="dropdown-item" value="">No Filter</option>
                                    <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}"></option>
                                </select><br>
                            </div>
                        </form>
                    </div>
                    <!-- /input-group -->
                </li>

                <li>
                    <a href="/tables" style="color:black;">
                        <i class="fa fa-table fa-fw"​ ></i>
                        <span  th:text="#{table}">Tables</span>
                    </a>
                </li>
                <li>
                    <a href="#" style="color:black;">
                        <i class="fa fa-edit fa-fw" ></i>
                        <span th:text="#{form}">Forms</span>
                        <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/add" th:text="#{add}" style="color:black;">add</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <div class="profile">
            <div style="width:100px; height:100px; margin:auto; margin-top:20px;">
                <img src="../image/profile.jpg" alt="" style="width:100%; border-radius: 50%;border:1px solid black; ">
            </div>
            <div style="width:100%; height:100px; margin:auto; margin-top:10px; text-align:center;">
                <p>Designer: Somang Rothnak</p>
                <p>Copyright &copy; 2018</p>
            </div>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>