<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/defaultLayout">

<head>
    <title​">Article Management System</title>
    <style>
        *{
            font-family:'Roboto', cursive;
        }
        .icon{
            display:none;
        }
        @media screen and (max-width: 780px) {
                .icon{
                    display:block;
                    float:right;
                    position: absolute;
                    z-index: 400;
                    right: 141px;
                }
                #caption{
                    display:none;
                }
                .profile{
                     display:none;
                }
        }
    </style>
</head>

<body style="background-color: #28a745 !important;">

<div id="wrapper">
    <div id="page-wrapper" layout:fragment="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"​​ th:text="#{article}"></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{ams}">
                        Article Management System
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" action="/save" method="post" th:object="${article}" enctype="multipart/form-data">
                                    <div class="form-group has-success">
                                        <!--<label class="control-label" for="inputSuccess">ID</label>-->
                                        <input  type="hidden" class="form-control" th:value="${id}" name="id" id="inputSuccess">
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="control-label" for="inputWarning"​ th:text="#{name}">Name</label>
                                        <input type="text" class="form-control" th:field="*{name}" placeholder="Name" id="inputWarning">
                                        <p style="color:red;" th:if="*{#fields.hasErrors('name')}"​​>
                                            ​<span th:text="#{invalidData}">Invalid Invalid</span>
                                        </p>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="control-label" th:text="#{category}">Category</label>
                                        <select th:field="*{category.id}" class="form-control">
                                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group has-success">
                                        <label class="control-label" th:text="#{description}">Description</label>
                                        <input type="text" class="form-control" th:field="*{description}" placeholder="Description">
                                        <p style="color:red;" th:if="*{#fields.hasErrors('description')}">
                                            ​<span th:text="#{invalidData}">Invalid Invalid</span>
                                        </p>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="control-label" th:text="#{author}">Author</label>
                                        <input type="text" class="form-control" th:field="*{author}" placeholder="Author">
                                        <p style="color:red;" th:if="*{#fields.hasErrors('author')}">
                                            ​<span th:text="#{invalidData}">Invalid Invalid</span>
                                        </p>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="control-label" th:text="#{fileInput}">File input</label>
                                        <input type="file" name="file" class="control-label" ​​​accept="Image/*">
                                        <!--<p style="color:red;" th:if="*{#fields.hasErrors('image')}">Invalid Invalid</p>-->
                                    </div>
                                    <button type="submit" class="btn btn-success" th:text="#{save}">Save</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


</body>

</html>
