<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <h1>Article</h1>
    <a href="/add">Add Article</a>
    <table style="border:1px solid black; border-collapse: collapse; width:900px;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Desciption</th>
            <th>Author</th>
            <th>Image</th>
            <th>Create Date</th>
            <th>Process</th>
        </tr>
        <tr th:each="article : ${articles}" th:object="${article}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{author}"></td>
            <td class="image" >
                <img style="width:100px;" th:src="*{image}" alt=""/>
            </td>
            <td th:text="*{createdDate}"></td>
            <td>
                <a th:href="@{/view/{id}(id=*{id})}">View</a>
                <a th:href="@{/detete/{id}(id=*{id})}">Delete</a>
                <a th:href="@{/update/{id}(id=*{id})}">Update</a>
            </td>
        </tr>


    </table>
</body>
</html>