<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

<head>
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <style>
        *{
            font-family:'Concert One', cursive;
        }
        .icon{
            display:none;
        }
        @media screen and (max-width: 780px) {
                .icon{
                    display:block;
                    float:right;
                    position: absolute;
                    z-index: 400;
                    right: 141px;
                }
                #caption{
                    display:none;
                }
                .profile{
                     display:none;
                }
        }
    </style>
</head>

<body style="background-color: #28a745 !important;">

    <div id="wrapper">
        <div id="page-wrapper" layout:fragment="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"​​ th:text="#{articleTable}" style="font-family: 'Hanuman', serif;">Article Tables</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" th:text="#{ams}" style="background-color:#28a745; color:white;">
                            Article Management System
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th th:text="#{id}">ID</th>
                                        <th th:text="#{name}">Name</th>
                                        <th th:text="#{description}">Description</th>
                                        <th th:text="#{author}">Author</th>
                                        <th th:text="#{category}">Category</th>
                                        <th th:text="#{image}">Image</th>
                                        <th th:text="#{date}">Date</th>
                                        <th th:text="#{process}">Process</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="article : ${articles}" th:object="${article}">

                                        <td th:text="*{id}">Trident</td>
                                        <td th:text="*{name}">Internet Explorer 4.0</td>
                                        <td th:text="*{description}">Win 95+</td>
                                        <td class="center" th:text="*{author}">4</td>
                                        <td class="center" th:text="*{category.name}"></td>
                                        <td class="center" style="text-align:center;">
                                            <img style="width:100px;" th:src="*{image}" alt=""/>
                                        </td>
                                        <td class="center" th:text="*{createdDate}">X</td>
                                        <td style="text-align: center !important; width: 15%;">
                                            <a th:href="@{/view/{id}(id=*{id})}">
                                                <i class="fa fa-eye" style="padding: 10px;"></i>
                                            </a>
                                            <a th:href="@{/update/{id}(id=*{id})}">
                                                <i class="fa fa-edit" style="padding: 10px;"></i>
                                            </a>
                                            <a th:href="@{/detete/{id}(id=*{id})}">
                                                <i class="fa fa-trash-o" style="padding: 10px;"></i>
                                            </a>

                                            <a th:href="|'/search/query=${id}(id=*{id})}'|"></a>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            <div class="well">
                               </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
