<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">


<head>
    <title>view</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <style>
        *{
            font-family:'Concert One', cursive;
        }
        .icon{
            display:none;
        }
        @media screen and (max-width: 780px) {
                .icon{
                    display:block;
                    float:right;
                    position: absolute;
                    z-index: 400;
                    right: 141px;
                }
                #caption{
                    display:none;
                }
                .profile{
                     display:none;
                }
        }
    </style>
</head>

<body>

<div id="wrapper">
    <div id="page-wrapper" layout:fragment="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"​ th:text="#{articleView}">Article View</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{ams}">
                        Article Management System
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="row" role="form" action="/save" method="post" th:object="${article}" enctype="multipart/form-data">
                                    <div class="image-display col-lg-5">
                                        <img style="" th:src="*{image}" alt=""/>
                                    </div>
                                    <div class="detail col-lg-7" style="margin-bottom: 10px; overflow: hidden; background-color: lightgray; line-height: 2; padding-left: 10px;">
                                        <div style="padding-left: 10px;">
                                            <table style="margin:20px; font-size:20px;">
                                                <tr>
                                                    <td th:text="#{name}" style="width:130px;"></td>
                                                    <td th:text="*{name}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{category}" style="width:130px;"></td>
                                                    <td th:text="*{category.name}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{description}" style="width:130px;"></td>
                                                    <td th:text="*{description}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{author}" style="width:130px;"></td>
                                                    <td th:text="*{author}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{date}" style="width:130px;"></td>
                                                    <td th:text="*{createdDate}"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <a class="btn btn-success" href="/tables">Back</a>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>